	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		
		<?php
			
			$webPageDescription="The studio offers International Latin, Ballroom and other dance styles at all levels with workshops for wedding dances, quinceañera, debutante balls";
			
			if(isset($localWebPageDescription))
			{
				$webPageDescription=$localWebPageDescription;
			}
		?>
		
		<meta name="description" content="<?php echo $webPageDescription; ?>">
		<meta name="keywords" content="dance school, Mississauga, dance classes, dance lessons, dance studio, competitive dance, recreational dance, International Latin, ballroom, wedding dance, quinceañera ball, debutante ball">
		<meta name="author" content="Vitaly Saversky" >
		<link rel="icon" href="">
		
		<?php
		
			$title="Art Of Soul Dance School";
			
			if(isset($localWebPageTitle))
			{
				$title=$title . " | " . $localWebPageTitle;
			}
		?>
		
		<title><?php echo $title; ?></title>
		
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		
		<!-- Custom CSS -->
		<link rel="stylesheet" type="text/css" href="../css/custom.css">
	</head>
