		<footer>
			<div class="container">
				<p class="pull-right"><a href="#">Back to top</a></p><br>
				<hr>
				<p class="text-center">&copy; 2016-2018 Art of Soul Dance School. Designed&nbsp;by&nbsp;<?php macro_DeveloperNameWithEmail();?></p>
			</div>
		</footer>
      
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>